.start-circle {
  &-wrapper {
    @include flex-center-column;
    position: absolute;
    left: -50px;
    top: -5px;
  }

  &-body {
    @include flex-center-row;
  }

  &-outer {
    @include flex-center-row;
    position: relative;
    width: 18px;
    height: 18px;
    background-color: $teal;
    margin: 0 4px;
    border-radius: 50%;
  }

  &-inner {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $bg-green;
  }

  &-title {
    @include timeline-text;
    max-width: 70px;
    min-height: 36px;
    text-align: center;
    margin-top: 8px;
  }
}
