.timeline-image {
  height: 76px;
  width: 100%;
  margin-bottom: 8px;

  &-wrapper {
    box-sizing: border-box;
    height: 136px;
    width: 130px;
    padding: 8px;
    background-color: $card-bg-green;
    border-radius: 5px;
    box-shadow: $card-shadow;
    margin: 4px;
    @include flex-center-column;
    justify-content: flex-start;
  }

  &-text {
    @include flex-center-column;
    height: 100%;

    & > span {
      max-width: 95px;
      text-align: center;
    }
  }
}
