.timeline-item {
  position: relative;
  &-middle {
    @include flex-center-row;
  }

  &-bottom-wrapper {
    position: absolute;
    bottom: -224px;
    @include flex-center-column;
  }

  &-end-wrapper {
    position: absolute;
    bottom: -280px;
    @include flex-center-column;
  }

  &-top-wrapper {
    position: absolute;
    top: -178px;
    @include flex-center-column;
  }

  &-dot-wrapper {
    @include flex-center-column;
  }

  &-caret {
    height: 16px;
    margin: 15px 0 11px;
    width: 2px;
    border-radius: 2px;
    background-color: $card-light-green;

    &-bottom {
      height: 16px;
      margin: 8px 0 15px;
      width: 2px;
      border-radius: 2px;
      background-color: $card-light-green;
    }
  }

  &-title {
    @include timeline-text;
    @include flex-center-row;
    max-width: 96px;
    min-height: 36px;
    text-align: center;

    &-wrapper {
      position: absolute;
      bottom: -50px;
    }
  }

  &-line-solid {
    border: 2px solid $white;
    box-sizing: border-box;
  }

  &-line-dashed {
    border-top: 2px dotted $white;
    box-sizing: border-box;
  }

  &-start-line-first-item {
    border-radius: 2px;
  }

  &-start-line-normal-item {
    border-radius: 0 2px 2px 0;
  }

  &-end-line-first-item {
    border-radius: 2px 0 0 2px;
  }

  &-end-line-normal-item {
    border-radius: 2px 0 0 2px;
  }
}
