@mixin timeline-text {
  line-height: 130%;
  color: $white;
  opacity: 0.6;
}
@mixin timeline-item-text {
  line-height: 130%;
  color: $white;
  text-align: center;
}

@mixin flex-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
