//vars
$main-font-family: 'IBM Plex Sans', sans-serif;

//colors
$bg-green: #215a6b;
$card-bg-green: #173f4b;
$card-light-green: #3c7f90;
$teal: #00b897;
$white: #ffffff;

$card-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

// font-size
$font-size--regular: 14px;
